.App {
  width: max(100%, 1000px);
  padding: 2.5rem 0;
}

.page-title {
  text-align: center;
}

.madlib {
  padding: 2.5rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.25em;
  line-height: 1.5;
}

@media only screen and (min-width: 968px) {
  .madlib {
    flex-direction: row;
    gap: 5rem;
  }
}
